<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <a href="/easypark/user/parking-spaces/{{ username }}">View Parking Spaces</a> | 
    <a href="/easypark/user/vehicles/{{ username }}/">View Your Vehicles</a> | 
    <a href="/easypark/user/rentals/{{ username }}/">View Your Rentals</a> | 
    <a href="/easypark/user/rentals/enter-rental-time/{{ username }}/">Rent a Parking Space</a> |
    <a href="/easypark/">Logout</a>
</body>