<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Rentals</title>
</head>
<body>
    <h1>Rental List</h1>
    <ul>
        {% for rental in rentals %}
        <li>{{ rental }} - 
            <a href="/easypark/manager/rentals/confirm/{{ username }}/{{ rental.id }}/">Confirm Payment</a> | 
            <a href="/easypark/manager/rentals/cancel/{{ username }}/{{ rental.id }}/">Cancel Rental</a>
        </li>
        {% endfor %}
    </ul>
    <a href="/easypark/manager/home/{{ username }}/">Back to Home</a>
</body>
</html>
